/* Root styling colors */
:root{
    --headerColor: #64CCC5;
    --paragraphText: #DAFFFB;
    --backgroundColor: #001C30;
}

/* Remove padding & margin across ths site */
*{
    padding: 0;
    margin: 0;
}

/* H styling */
h1,
h2,
h3{
    text-align: center;
    color: var(--headerColor)
}

/* Main body styling*/
main{
    background-color: var(--backgroundColor);
}

li, a{
    text-decoration-style: none;
    color: var(--paragraphText);
}

/* On hover styling */
.nav-link:hover, 
.navbar-brand:hover,
a:hover{
    color: var(--headerColor);
}

p{
    color: var(--paragraphText);
}

/* Navbar styling */
.navbar{
    background-color: var(--backgroundColor);
}

.navbar-brand,
.nav-item,
.nav-link{
    color: var(--paragraphText);
}

/* Subtitle styling */
.subtitle{
    display: flex;
    background-color: aqua;
    padding: 10%;
    margin: 0;
    width: 100%;
    height: 50vh;
    align-items: center;
    justify-content: center;
    background-image: url(../images/nasa-Q1p7bh3SHj8-unsplash.jpg);
    color: var(--paragraphText)
}

/* Profile img styling */
.profile-img{
    border-radius: 50%;
    padding: 1%;
    margin: 0;
    border: solid 3px;
    border-color:  var(--headerColor);
}

/* Work container styling */
.workContainer{
    display: inline-block;
    background-color: var(--backgroundColor);
    height: 50%;
    width: 100%;
    padding: 1rem;
}

.projects{
    display: grid;
    grid-template-areas:
    "projectOne projectOne"
    "projectTwo projectThree";
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-gap: 10px;
    background-color: var(--headerColor);
    padding: 1rem;
    margin: 1rem;
    border-radius: 5%;

}

#projectOne{
    grid-area: projectOne;
    background-image: url(../images/marketing-website.png);
}

#projectTwo{
    grid-area: projectTwo;
    background-image: url(../images/nasa-Q1p7bh3SHj8-unsplash.jpg);
}

#projectThree{
    grid-area: projectThree;
    background-image: url(../images/nasa-Q1p7bh3SHj8-unsplash.jpg);
}

#projectOne,
#projectTwo,
#projectThree {
    background-size: cover;
    font-size: 20px;
    display: flex;
    align-items: end;
    justify-content: center;
    max-width: auto;
    height: 200px;
    text-align: center;
    color: azure;
    background-color: black;
    border-color: var(--paragraphText);
    border: solid 2px;
}

#projectOne:hover,
#projectTwo:hover,
#projectThree:hover{
    transform: scale(1.05);
}

/* Responsive grid layout for mobile screens */

@media only screen and (max-width: 600px){
    .projects{
        grid-template-areas:
        "projectOne"
        "projectTwo"
        "projectThree";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 15px;
    }

}