:root{
    --headerColor: #64CCC5;
    --paragraphText: #DAFFFB;
    --backgroundColor: #001C30;
}

*{
    padding: 0;
    margin: 0;
}

h1,
h2,
h3{
    text-align: center;
    color: var(--headerColor)
}

main{
    background-color: var(--backgroundColor);
}

li a{
    text-decoration-style: none;
    color: var(--paragraphText);
}

.nav-link:hover, 
.navbar-brand:hover,
a:hover{
    color: var(--headerColor);
}

p{
    color: var(--paragraphText);
}

.navbar{
    background-color: var(--backgroundColor);
}

.navbar-brand,
.nav-item,
.nav-link{
    color: var(--paragraphText);
}

.subtitle{
    display: flex;
    background-color: aqua;
    padding: 10%;
    margin: 0;
    width: 100%;
    height: 50vh;
    align-items: center;
    justify-content: center;
    background-image: url(../images/nasa-Q1p7bh3SHj8-unsplash.jpg);
    color: var(--paragraphText)
}

.profile-img{
    border-radius: 50%;
    padding: 1%;
    margin: 0;
    border: solid 3px;
    border-color:  var(--headerColor);
}

